lib-xi-*
.*
!.gitignore
!.shipit
!.dim.pl
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.*
MYMETA.*
inc/
*.out
*.bak
*.old
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
extlib/
example/extlib
*~
